body {
  margin: 0;
  overflow: hidden;
}

.mmCIF-compound {
  float: left;
  /*margin: 20px;*/
}

#CFF {
  background-color: #BBBBBB;
}

[id='11b'] {
  background-color: red;
}

[id='0ja'] {
  background-color: blue;
}