body {
  margin: 0;
  overflow: hidden;
}
.mmCIF-compound {
  float: left;
}
#CFF {
  background-color: #BBBBBB;
}
[id='11b'] {
  background-color: #FCD6B8;
}
[id='0ja'] {
  background-color: #80B3FF;
}